APScheduler==2.1.2
astroid==2.2.5
backports.csv==1.0.7
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
defusedxml==0.6.0
Django==2.2.3
djangorestframework==3.10.1
et-xmlfile==1.0.1
future==0.17.1
idna==2.8
isort==4.3.21
jdcal==1.4.1
lazy-object-proxy==1.4.1
mccabe==0.6.1
mysql-connector==2.2.9
mysql-connector-python==8.0.17
mysqlclient==1.4.2.post1
numpy==1.17.2
oauthlib==3.0.2
odfpy==1.4.0
openpyxl==2.6.2
Pillow==6.1.0
protobuf==3.9.0
pylint==2.3.1
PyMySQL==0.9.3
PySocks==1.7.0
python-twitter==3.4.2
pytz==2019.1
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
sqlparse==0.3.0
tablib==0.13.0
typed-ast==1.4.0
tzlocal==2.0.0
urllib3==1.26.5
virtualenv==16.7.4
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
